@use '../abstracts/abstracts' as *;
@use '../utilities/utilities' as *;

//? Nav buttons
nav button {
  padding: 0 0.5rem;

  font-size: 1.3rem;
  color: $nav-text-color;

  border: none;
  background: transparent;

  cursor: pointer;
}

//? Hero Call-To-Action
.cta-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;

  padding: 0.5rem 0.75rem;

  font-size: 1rem;

  border-radius: $border-radius;
  border: 1px solid #fff;
  background: $tint-color;
  @supports (backdrop-filter: blur(2rem)) {
    backdrop-filter: blur(2rem);
  }

  transition: 0.3s ease;
  * &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;

    height: 100%;
    width: 100%;

    background: #fff;
    transition: 0.3s ease;
  }
  &:hover {
    color: #000;
    &:before {
      left: 0;
    }
  }
}

//? Resets
button,
.project-links,
input[type='submit'] {
  border: none;
  border-radius: $border-radius;

  color: $button-text-color;
  font-family: 'Montserrat', sans-serif;

  cursor: pointer;
}

//? Project section links
.project-links {
  //? View project
  a {
    min-width: 14rem;
    margin-top: 1rem;
    padding: 0.75rem;

    font-weight: 700;
    text-align: center;

    border-radius: $border-radius;
    background: $button-color;
  }

  //? See source code
  a:last-of-type {
    background: transparent;
    outline: 1px solid $button-text-color;
    outline-offset: -1px;
  }
}

//? Contact form button
.sendFormBtn {
  min-width: 10rem;
  margin-inline: auto;
  margin-bottom: 0.75rem;
  padding: 0.75rem;

  font-size: 1.3rem;
  color: $button-text-color;
  font-weight: 700;
  letter-spacing: 1px;

  border-radius: $border-radius;
  background: $button-color;
}
