@use '../abstracts/abstracts' as *;
@use '../utilities/utilities' as *;

// TODO: Edit colors
// TODO: Add in logo
// TODO: Add hrefs

footer {
  @include flexCol;
  font-size: 0.9rem;
  gap: 1.4rem;

  ul {
    display: flex;
    gap: calc(0.75rem + 2vw);
  }

  li {
    position: relative;
  }

  .sourceCode {
    border: 1px solid $body-text-color;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;

    i {
      margin-right: 2px;
    }
  }
}
