@use '../abstracts/abstracts' as *;
@use '../utilities/utilities' as *;

form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: clamp(20rem, 80%, 30rem);
  margin-bottom: 1rem;
  padding: 1rem 3rem;

  border-radius: $border-radius;
  background: $nav-bg-color; //! CHANGE COLOR

  @include MqW($breakpoint1) {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  label {
    margin: 1rem 0 10px;
  }

  input:not(input[type='submit']),
  textarea {
    width: 100%;

    padding: 0.5rem;
    color: #fff; //! CHANGE COLOR

    border: none;
    outline: none;
    border-radius: $border-radius;
    background: $form-input-color;
  }

  input::placeholder,
  textarea::placeholder {
    font-family: inherit;
    color: #fff; //! CHANGE COLOR
  }

  textarea {
    margin-bottom: 1.5rem;
    font-family: inherit;
    resize: none;
  }
}

form::after {
  //! CHANGE
  content: '';
  position: absolute;
  z-index: -99;
  top: calc(100% + 2.5rem);
  left: 0;

  width: 30%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    #fff 10%,
    #fff 90%,
    transparent
  );
}

.paperplane {
  //! ADJUST FOR SMALL SCREENS
  position: absolute;
  top: -3rem;
  left: -51.92px;
  z-index: 99;

  width: 6rem;
  transform: rotate(22deg);
  filter: brightness(85%);
}
