@use '../utilities/utilities' as *;
@use '../abstracts/abstracts' as *;

header {
  height: 5.2rem;

  .infobar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: $main-margin;

    @include MqW($breakpoint1) {
      padding-right: 1rem;
    }

    gap: 5px;
    height: 1.2rem;
    background: $infobar-bg-color;

    a {
      width: 1rem;
      color: $button-color;
    }
  }
}
