@use '../utilities/utilities' as *;
@use '../abstracts/abstracts' as *;

nav {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: $navbar-height;
  padding-inline: $main-margin;

  background: $nav-bg-color;
  @supports (backdrop-filter: blur(2rem)) {
    backdrop-filter: blur(2rem);
  }

  @include MqW($breakpoint1) {
    padding-inline: 1rem;
  }

  ul {
    @include flexCenter;

    gap: calc(0.5rem + 3vw);
    padding: 0.5rem 1rem;

    width: 100%;
  }

  .nav__logo {
    padding: 0 0.5rem;
    font-size: 1.8rem;
  }
}
