@use '../utilities/utilities' as *;
@use '../abstracts/abstracts' as *;

// TODO: Make responsive
// TODO: Add parallax scroll
// TODO: Get better fonts
// TODO: Finalize colors and styles

.home__overlay,
.home__background {
  position: absolute;
  @include fullSize;
}

.home__overlay {
  z-index: -2;
  background: $home-bg-color;
}

.home__background {
  z-index: -3;

  background-image: url('/assets/images/bg-img.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  filter: contrast(150%);
  filter: brightness(70%);
}

// .home__mask {
//   @include fullScreen;
// }

.home__content {
  // position: fixed;
  // inset: 0;
  @include flexCol;
  gap: 12px;
  // margin-top: $navbar-height;

  h1 {
    position: relative;
    font-size: clamp(2rem, 10vw + 1rem, 4.5rem);
    font-weight: 400;
    font-family: 'Lato', serif;
  }

  .line {
    height: 1px;
    width: clamp(13rem, 30vw, 20rem);
    background: $line-fade-color;
  }

  p {
    margin-block: 5px;
  }
}

.arrow {
  height: 3rem;
}
