@use '../utilities/utilities' as *;
@use '../abstracts/abstracts' as *;

// TODO: Add another section?
// TODO: Add popup info for skills with .js
// TODO: Edit colors and sizing
// TODO: Popup certificates with .js?
// TODO: Finalize styles

.skills__container {
  position: relative;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);

  min-width: 280px;
  margin-bottom: 4rem;
  padding: 1rem;

  border-radius: $border-radius;
  background-color: $card-bg-color;

  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::after {
    inset: -1rem;
    background: $button-color;
    transform: translateZ(-50px);
    box-shadow: 0 0 15px #5231d7d0;
  }

  &::before {
    inset: -0.3rem;
    background: #000;
    transform: translateZ(-49px);
    filter: blur(15px);
    opacity: 0.7;
  }

  @include MqW($breakpoint2) {
    width: 90%;
  }

  .skills__item {
    @include flexCol;
    padding: 0.5rem;
    gap: 3px;

    border-radius: $border-radius;
  }

  img {
    width: 3.5rem;
    height: 2.9rem;

    @include MqW($breakpoint2) {
      width: 3.1rem;
      height: 2.5rem;
    }
  }

  p {
    text-align: center;
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #ffffffbe;
  }
}

.certifications__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 29rem; // To line up with container above
  line-height: 1.5rem;

  @include MqW($breakpoint2) {
    width: 90%;
  }

  i {
    margin-right: 3px;
    color: rgb(255 255 255); //! CHANGE THIS?
  }

  span {
    display: block;
    text-indent: 1.7rem;
    font-size: 0.9rem;
    font-style: italic;
    color: #7f8dba; //! CHANGE THIS
  }
}
