// LAYOUT FLOW

// Margins

//? Main Inline Margin
$main-margin: clamp(1.5rem, 15vw, 10rem);

// Breakpoints

//? Medium
$breakpoint1: 768px;
//? Small
$breakpoint2: 481px;
//? Projects Section
$projects-breakpoint: 900px;

// Styles
$border-radius: 3px;
