@use '../abstracts/abstracts' as *;

//* Typography

//? Default Body
body {
  font-family: 'Montserrat', sans-serif;
  color: $body-text-color;

  font-size: 1.1rem;
}

//? Navigation
nav {
  color: $nav-text-color;
  letter-spacing: 1px;
  font-size: 1rem;
}

//? Headings
h1:not(.home__intro) {
  margin-top: 2.5rem;
  font-family: 'Lato', serif;
  color: $h1-text-color;

  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1px;

  text-align: center;
}

//! CHANGE
.heading-accent {
  margin-top: 0.25rem;
  margin-bottom: 4rem;
  width: 20rem;
}

h2 {
  font-family: 'Lato', serif;
  color: $h2-text-color;

  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

//? Form Labels
label {
  font-family: 'Lato', serif;
  color: $h1-text-color;

  font-size: 1.4rem;
  letter-spacing: 1px;
  text-indent: 1px;
}
