//? Text

$nav-text-color: #7a6fae;
$body-text-color: #b3a4f6;

$h1-text-color: #7160c0;
$h2-text-color: #9d8de1;

//? Buttons

$button-color: #584b9a;
$button-text-color: #f4f1ff;

//? Backgrounds

$infobar-bg-color: #0e0e0e;
$nav-bg-color: #171717;

$body-bg-color: #272727;
$footer-bg-color: #171717;

$form-input-color: rgb(255 255 255 / 0.1);
