//? Text

$nav-text-color: #3f93dc;
$body-text-color: #fbfbfb;

$h1-text-color: #fbfbfb;
$h2-text-color: #fbfbfb;
$name-color: linear-gradient(0deg, #003ad9, #5defff);

$accent-color: #3f93dc;

//? Buttons

$button-color: linear-gradient(0deg, #0222f6, #00b0e1);
$button-text-color: #fbfbfb;

//? Backgrounds

$nav-bg-color: #151515;

$body-bg-color: #272727;
$footer-bg-color: #171717;

$form-input-color: rgb(255 255 255 / 0.1);
