// MIXINS

@use '../utilities/utilities' as *;

// Utilities

//? Flex Center (Row)
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//? Flex Center (Column)
@mixin flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//? Full screen
@mixin fullScreen {
  min-width: 100vw;
  min-height: 100vh;
}

@mixin fullSize {
  width: 100%;
  height: 100%;
}

// Media Queries

//? Max-Width
@mixin MqW($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

//? Main Margins
@mixin adjustMargin() {
  @include MqW($breakpoint1) {
    margin-inline: 10vw;
  }

  @include MqW($breakpoint2) {
    margin-inline: 0;
  }
}
